


body {
  padding-top: 50px;
  background-color: white;
}
.starter-template {
  padding: 120px 15px;
  text-align: center;
}

.navbar {
	border-color: #f8f8f8;
	border-width: 2px;
	padding-top: 5px;
	padding-bottom: 5px;

}

.search-bar {
	background-color: #ecf0f5; /* layer fill content */
	border: none;

}

.navbar-fixed-bottom {
	margin-bottom: 25px;
	font-size: 14px;
	color:#6a8691;
}

.navbar-fixed-bottom > a{
	margin-bottom: 25px;
	font-size: 16px;
	color:#6a8691;
}
.form-control::-moz-placeholder {
  color: #2b2d2e;
  opacity: 1;
  font-weight: lighter;
  font-size: 17px;
}
.form-control:-ms-input-placeholder {
  color: #2b2d2e;
  font-weight: lighter;
  font-size: 17px;

}
.form-control::-webkit-input-placeholder {
  color: #2b2d2e;
  font-weight: lighter;
  font-size: 17px;

}
.form-control {
	color:#36bdef;
}
.form-control:focus{
	border-color:#36bdef;
	border-width: 2px;
}

a{
	text-decoration: none;
}


#headers {

	margin-top: -100px;
	height:100px;
	background-color: #fff; /* layer fill content */
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.11); /* drop shadow */
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.11); /* drop shadow */
	box-shadow: 0 1px 3px rgba(0,0,0,.11); /* drop shadow */

/*	background:yellow;*/
}

.subscribe-form {
	float:left;
	margin-top: 2%;
	margin-left:2%;
}


#navigation {

	float:right;
	z-index: 3;

	font-size:36px;
	width:20%;
	margin-top: 1.5%;


}

#GoPro{
	color:#36bdef;
	margin-right: 0%;
	margin-top: 10px;
	margin-right: 15px;	


}
#GoPro:hover{
	color:#2c9bc4;
	margin-right: 15px;	

}

#rotate {
	display:inline-block;
	width: 100px;
	position: relative;
	text-align: left;
	color:#36bdef;
	}

#SignIn {
	color:#6a8691;
}

#icon {
	/*width:130px;*/
	margin-top:0%;
	margin-left:0%;
}

section h1 {
	color: #204553; /* text color */
	font-family: "Brandon Text";
	font-size: 32px;
	margin-left: 1%;
	font-weight:300;
}

#upload {

	color: #fff;
	font-family: "Brandon Text";
	font-size: 24px;
	font-weight: bold;
	border:0px;
	text-shadow: 0 1px 0 rgba(0,0,0,.75); /* drop shadow */


	padding-top:20px;
	padding-bottom:20px;
	padding-left: 14%;
	padding-right:14%;

	margin-top:-10px;
	margin-left:0%;





	display:inline;
	outline:none;

	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
	transition: border .25s linear, color .25s linear, background-color .25s linear;

	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #00adef; /* layer fill content */
	border: 2px solid #11abe5; /* stroke */
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #35bdef; /* layer fill content */


}

#upload.active,
#upload:active {
  -webkit-box-shadow: inset 0 5px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 5px 0 rgba(0, 0, 0, 0.15);
  outline:none;
}

#upload:hover, #upload:focus{
  /*outline: none;*/
  /*color: lightblue;*/
  background-color: #3acaff;
}

section h2 {
	color: #a6a9ac;
	font-family: "Brandon Text";
	font-size: 19px;
	margin-left: 0%;
	margin-top: 1.4%;
	margin-bottom: 1.4%;
	font-weight: lighter;
}
section h2 span{
	color: #36bdef;
	font-family: "Brandon Text";
	font-size: 17px;
	margin-left: 0%;
	margin-top: 1.4%;
	font-weight: lighter;
}

footer {
	margin-top: 230px;
	font-family: "Brandon Text";
	color: #2b2d2e;
	margin-left: 0%;


}

#how {
	margin-left: -1%;
	margin-right: 3%;
	font-weight: lighter;
	color: #2b2d2e;

}

#about {
	margin-right: 3%;
	font-weight: lighter;
	color: #2b2d2e;

}

#blog {
	font-weight: lighter;
	color: #2b2d2e;


}

#privacy {
	margin-left: 3%;
	font-weight: lighter;
	color: #2b2d2e;
}

#contact{
	margin-left: 3%;
	font-weight: lighter;
	color: #2b2d2e;
}




#done1 {
	background-color: #69d387;
	color: #fff;
	font-family: "Brandon Text";
	font-size: 24px;
	font-weight: bold;
	outline:none;
	text-shadow: 0 1px 0 rgba(0,0,0,.75);
	border: 0px;
	border: 2px solid #32CD32;

	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	padding-top:20px;
	padding-bottom:20px;
	padding-left: 8%;
	padding-right:8%;

	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
	transition: border .25s linear, color .25s linear, background-color .25s linear;

	display: inline;
	margin-top: 15px;
}

#done1.active,
#done1:active {
  -webkit-box-shadow: inset 0 5px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 5px 0 rgba(0, 0, 0, 0.15);
  outline:none;
}

#uploadMore {

	background-color: #69d387;

	color: #fff;
	font-family: "Brandon Text";
	font-size: 24px;
	font-weight: bold;

	border:0px;
	text-shadow: 0 1px 0 rgba(0,0,0,.75); /* drop shadow */

	padding-top:20px;
	padding-bottom:20px;
	padding-left: 14%;
	padding-right:14%;

	margin-top:1.4%;
	margin-left:0%;


	display:inline;
	outline:none;

	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
	transition: border .25s linear, color .25s linear, background-color .25s linear;

	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */


	background-color: #00adef; /* layer fill content */
	border: 2px solid #11abe5; /* stroke */
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #35bdef; /* layer fill content */

	margin-right:15px;
}

#uploadMore.active,
#uploadMore:active {
  -webkit-box-shadow: inset 0 5px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 5px 0 rgba(0, 0, 0, 0.15);
  outline:none;
}

#uploadMore:hover, #uploadMore:focus{
  /*outline: none;*/
/*  color: lightblue;*/
  background-color: #3acaff;




	outline:none;
	text-shadow: 0 1px 0 rgba(0,0,0,.75);
	border: 0px;



	border: 2px solid #3acaff;

	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	padding-top:20px;
	padding-bottom:20px;
	padding-left: 14%;
	padding-right:14%;

	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
	transition: border .25s linear, color .25s linear, background-color .25s linear;

	display: inline;
	margin-top: 15px;

}

#done1.active,
#done1:active {
  -webkit-box-shadow: inset 0 5px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 5px 0 rgba(0, 0, 0, 0.15);
  outline:none;
}







#progress_bar {


    margin-top: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    /*border: 1px solid #000;*/
    font-size: 14px;
   /* clear: both;*/
    opacity: 1;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
    width:100%;


    -moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px; /* border radius */
-moz-background-clip: padding;
-webkit-background-clip: padding-box;
background-clip: padding-box; /* prevents bg color from leaking outside the border */
background-color: #ecf0f5; /* layer fill content */


  }

#progress_bar.loading {
    opacity: 1.0;
  }

#progress_bar .percent {
    background-color: #99ccff;
    height: auto;
    width: 0;
  }




#uploadMore {
	color: #fff;
	font-family: "Brandon Text";
	font-size: 24px;
	font-weight: bold;
	border:0px;
	text-shadow: 0 1px 0 rgba(0,0,0,.75); /* drop shadow */


	padding-top:20px;
	padding-bottom:20px;
	padding-left: 14%;
	padding-right:14%;

	margin-top:1.4%;
	margin-left:0%;


	display:inline;
	outline:none;

	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
	transition: border .25s linear, color .25s linear, background-color .25s linear;

	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #00adef; /* layer fill content */
	border: 2px solid #11abe5; /* stroke */
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #35bdef; /* layer fill content */

	margin-right:15px;
}

#uploadMore.active,
#uploadMore:active {
  -webkit-box-shadow: inset 0 5px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 5px 0 rgba(0, 0, 0, 0.15);
  outline:none;
}

#uploadMore:hover, #uploadMore:focus{
  /*outline: none;*/
  /*color: lightblue;*/
  background-color: #3acaff;
}


#lefticon {
	width:30px;
}








#progress_bar {
/*    margin: 10px 0;*/
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid #000;
/*    font-size: 14px;*/
    clear: both;
    opacity: 1;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
    width:50%;

    position:relative;
    display:inline-block;
  }

#progress_bar.loading {
    opacity: 1.0;
  }

#progress_bar .percent {
    background-color: #99ccff;
    height: auto;
    width: 0;
  }






/* ---------------------------------------------*/
/*This is for creating ths SIGN IN page */

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  float: right;

  border-bottom: 1px solid #fff;
  border-radius: 3px;    
}

nav li {
  float: left;          
}

nav #login {
/*  border-right: 1px solid #ddd;
  box-shadow: 1px 0 0 #fff;  */
}

nav #login-trigger,
nav #signup a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 25px;
  line-height: 25px;
  font-weight: bold;
  padding: 0 8px;
  text-decoration: none;
  color: rgba(105,134,145,1);
  text-shadow: 0 1px 0 #fff;
  margin-top:10px; 
  font-family: "Brandon Text";
}

nav #signup a {
  border-radius: 0 3px 3px 0;
}

nav #login-trigger {
  border-radius: 3px 0 0 3px;
}

nav #login-trigger:hover,
nav #login .active,
nav #signup a:hover {
  background: #fff;
}

nav #login-content {
  display: none;
  position: absolute;
  top: 24px;
  right: 0;
  z-index: 999;    
  background: #fff;
  background-image: linear-gradient(top, #fff, #eee);  
  padding: 15px;
  box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
  border-radius: 3px 0 3px 3px;
}

nav li #login-content {
  right: 0;
  width: 330px; 
  height:200px;
  margin-top: 45px; 
  border: 1px solid rgba(0,0,0,.16); /* stroke */
  -moz-box-shadow: 0 5px 5px rgba(0,0,0,.03); /* drop shadow */
  -webkit-box-shadow: 0 5px 5px rgba(0,0,0,.03); /* drop shadow */
  box-shadow: 0 5px 5px rgba(0,0,0,.03); /* drop shadow */
  background: rgba(0,0,0,0.03);
}

/*--------------------*/

#inputs input {
/*  background: #fff;*/
  padding: 6px 5px;
/*  margin: 0 0 20px 0;*/
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 1px #ccc inset;
  margin-top:5px;
  margin-left:15px;
}

#inputs input:focus {
/*  background-color: #fff;*/
  border-color: #35bdef;
  outline: none;
  box-shadow: 0 0 0 1px #35bdef inset;
}

/*--------------------*/

#login #actions {
  margin: 10px 0 0 0;
}

#login #submit {    
  background-color: #35bdef;
  background-image: linear-gradient(top, #e97171, #d14545);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
  border: 1px solid #11abe5; 
  float: left;
  height: 30px;
  padding: 0;
  width: 300px;
  cursor: pointer;
  font: bold 14px Arial, Helvetica;
  color: #fff;
}

#login #submit:hover,
#login #submit:focus {    
  background-color: red;
  background-image: linear-gradient(top, #d14545, #e97171);



} 

#login #submit:active {   
  outline: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;   
}

#login #submit::-moz-focus-inner {
  border: none;
}

#login label {
  float: right;
  line-height: 30px;
}

#login label input {
  position: relative;
  top: 2px;
  right: 2px;
}


#download {
	color: #36bcee; /* text color */
	font-family: "Brandon Text";
}


#check {
	width:80px;
	/*margin-top: -40px; commented out to make page smaller*/ 
}

#extra {
	font-size: 15px;
	margin-top: 15px;
}

#change {
	color: #fff;
	font-family: "Brandon Text";
	font-size: 24px;
	font-weight: bold;
	border:0px;
	text-shadow: 0 1px 0 rgba(0,0,0,.75); /* drop shadow */


	padding-top:20px;
	padding-bottom:20px;
	padding-left: 14%;
	padding-right:14%;

	margin-top:1.4%;
	margin-left:0%;


	display:inline;
	outline:none;

	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
	transition: border .25s linear, color .25s linear, background-color .25s linear;

	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #00adef; /* layer fill content */
	border: 2px solid #11abe5; /* stroke */
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #35bdef; /* layer fill content */

	margin-right:15px;
}

#pin {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #ebf1f5; /* layer fill content */

	color: #676b6d; /* text color */
	font-family: "Brandon Text";
	font-size: 24px;
	font-weight: lighter;
	border:0px;



	padding-top:20px;
	padding-bottom:20px;
	padding-left: 14%;
	padding-right:14%;

	margin-top:1.4%;
	margin-left:0%;


	display:inline;
	outline:none;

	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
	transition: border .25s linear, color .25s linear, background-color .25s linear;




	margin-right:15px;
}

#bottom {
	margin-top: 100px;
	margin-bottom: -70px;
}

#submit{
background-color: #35bdef;
background-image: linear-gradient(top, #e97171, #d14545);
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
text-shadow: 0 1px 0 rgba(0,0,0,.5);
box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
border: 1px solid #11abe5;
float: left;
height: 30px;
padding: 0;
width: 300px;
cursor: pointer;
font: bold 14px Arial, Helvetica;
color: #fff;
outline:none;
margin-left: 10px;
}

#submit:active {   
  outline: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;   
}  

#encryption {
	color: #a5a9ab; /* text color */
	font-family: "Brandon Text";
	font-weight: lighter;
	font-size:15px;
}

#cancel {
	width:25px;
	margin-top: -8px;
	margin-left:25px;
}

#basic {
	border: 1px solid #5d91bd; /* stroke */
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #6fa1cb; /* layer fill content */

	padding-top:6px;
	padding-bottom:6px;
	padding-left:25px;
	padding-right:25px;

	outline:none;
	color: #fff; /* text color */
	font-family: "Helvetica Neue";
	font-size: 15px;

	margin-top:65px;
}


#pro1 {
border: 1px solid #5d91bd; /* stroke */
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #6fa1cb; /* layer fill content */

	padding-top:6px;
	padding-bottom:6px;
	padding-left:55px;
	padding-right:55px;

	outline:none;
	color: #fff; /* text color */
	font-family: "Helvetica Neue";
	font-size: 15px;

	margin-top:40px;
}


#business {
	border: 1px solid #5d91bd; /* stroke */
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #6fa1cb; /* layer fill content */

	padding-top:6px;
	padding-bottom:6px;
	padding-left:55px;
	padding-right:55px;

	outline:none;
	color: #fff; /* text color */
	font-family: "Helvetica Neue";
	font-size: 15px;

	margin-top:40px;
}

.special{
	color: #bdc3c7; /* text color */
font-family: "Helvetica Neue";
}

.box {
	width:250px;
	border:3px solid #ebeded;;
	height:320px;
}
